.statistics{

border: 1px solid gray;
width: 540px;
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
margin-top: 32px;
margin-bottom: 32px;
background-color: lightslategray;
}
.title{
    text-align: center;
    margin: 0;
    height: 64px;
    display: flex;
    align-items: center;
}
.statlist{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 540px;
   
    }
.statlist li{
    margin: 0;
    height: 48px;
    width: 108px;
    height: 64px;
}
.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 12px;
    align-items: center;
    padding-top: 12px;
}
.label{
    color: #ffffff;
    font-weight: 800;
}
.percentage{
    color: #ffffff;
    font-weight: 400;
}